@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;

}
body{
  background-color: hsl(220, 15%, 55%);
  width: 100%;
}
.qrdiv{
 display: flex;
 flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  height: 400px;
  width: 300px;
  margin:10em auto;
  }
  img{
    width: 250px;
    height: 225px;
    margin: 2em auto;
    margin-bottom: 10px;
    border-radius: 10px
  }
.bolder{
  margin-left: 22px;
  width: 80%;
  font-weight: 700;
  font-size: 20px;
  color:  hsl(218, 44%, 22%);

}
.light{
  text-align: center;
  margin: 0 auto;
  width: 95%;
  margin-top: 10px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;

}
